@use "../../../../../styles/tokens.scss" as *;

.cover-container {
  max-width: 70vw;

  .nav-link {
    padding: 0.25rem 0;
    font-weight: $fw-400;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.15rem solid transparent;
    text-decoration: none;
    transition: border-color 0.2s ease, color 0.2s ease;

    &:hover {
      border-bottom-color: rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.9);
    }

    &:first-child {
      margin-left: 0;
    }

    &.active {
      color: $primary-white;
      border-bottom-color: $primary-white;
      font-weight: $fw-500;
    }
  }

  /* Mobile Styles */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .nav {
      flex-direction: row;
      gap: 0.5rem;
      margin-top: 0.5rem;

      .nav-link {
        margin-left: 0; // remove left margin
        font-size: 0.9rem;
      }
    }

    h3 {
      margin-bottom: 0.5rem; // spacing between title and nav
    }
  }
}

@media (max-width: 576px) {
  .cover-container {
    max-width: 100vw ;
  }
}
