<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary mb-5" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav"> <!-- Added mr-auto for left alignment -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Campgrounds</a>
        </li>
      </ul>
      <div class="navbar-nav ms-auto"> <!-- ml-auto pushes it to the right -->

        @if (isLoggedIn$ | async; as isLoggedIn) {

        <button class="nav-link" (click)="logout()">Logout</button>
        } @else {
        <button class="nav-link" [routerLink]="['/campgrounds/login']">Login</button>
        <button class="nav-link" [routerLink]="['/campgrounds/register']">Register</button>
        }
      </div>
    </div>
  </div>
</nav>