@use "../../../styles/tokens.scss" as *;

main {
  height: 60vh;
  place-content: center;

  h1 {
    font-size: $display;
    margin-bottom: $space-6;
  }
  p {
    margin-bottom: $space-20;
  }

  .btn-campground {
    background-color: rgba(255, 255, 255, 0.3); // semi-transparent white
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    backdrop-filter: blur(5px); // optional frosted glass effect
    border-radius: 0.5rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      transform: translateY(-2px);
      cursor: pointer;
    }

    &:active {
      transform: translateY(0);
    }
  }
}
