app-footer {
  width: 100%;
}

.homepage {
  /* Background image with gradient overlay */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/dbivk0a7f/image/upload/v1766572446/4a9f9f0d-2a66-4b6f-a641-9ff4e4448885_lc48yx.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-attachment: fixed; // keep image fixed while scrolling
  min-height: 100vh; // ensure it fills viewport
}

