<!-- <div class="app-wrapper d-flex flex-column min-vh-100" [ngClass]="{ 'homepage': dispalyLandingImage() }">
    <app-header [ngClass]="{ 'bg-dark': !dispalyLandingImage() }"></app-header>
    <main class="flex-fill">
        <router-outlet></router-outlet>
    </main>
    <app-footer class="text-center"></app-footer>
</div> -->


<div class="app-wrapper d-flex flex-column min-vh-100 homepage">
    <app-header></app-header>
    <main class="flex-fill">
        <router-outlet></router-outlet>
    </main>
    <app-footer class="text-center"></app-footer>
</div>