@use "../../../../styles/tokens.scss" as *;

.message-wrapper {
  max-width: 65vw;
  display: flex;
  align-items: center;
  justify-content: space-between; // 👈 pushes X to the far right
  gap: $space-2;
  padding: $space-5;
  margin-bottom: $space-6;
}

.bg-glass.success {
  background-color: rgba(40, 167, 69, 0.38); // green tint
  border-color: rgba(40, 167, 69, 0.45) !important;
  color: #eafff1;

  box-shadow: 0 0 0 1px rgba(40, 167, 69, 0.15),
    0 8px 20px rgba(40, 167, 69, 0.25);
}

.bg-glass.error {
  background-color: rgba(220, 53, 69, 0.38); // red tint
  border-color: rgba(220, 53, 69, 0.5) !important;
  color: #ffecec;
  box-shadow: 0 0 0 1px rgba(220, 53, 69, 0.2),
    0 8px 20px rgba(220, 53, 69, 0.3);
}

.message-text {
  margin: 0; // remove default <p> margin
  flex: 1; // text takes available space
}

.close-btn {
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.close-btn:hover {
  opacity: 1;
}

.status-icon {
  font-size: 1.4rem;
  flex-shrink: 0;
}

.bg-glass.success .status-icon {
  color: #a8f0c6; 
}

.bg-glass.error .status-icon {
  color: #ffecec;
}
