<section class="container my-4 text-white">
  <!-- @if(mapLoaded){
  <div class="map-container mb-5" id="map-all"></div>
  } -->


  @if(!(errorLoading$ | async) && !(loading$ | async)){
  <div class="map-container mb-5" id="map-all"></div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="m-0">Campgrounds</h2>
    <button class="btn flame-cta btn-sm" [routerLink]="['/campgrounds/add-campground']"
      [disabled]="errorLoading$ | async">
      + Add Campground
    </button>
  </div>
  }

  @if (campGrounds$ | async; as campgrounds) {
  <div class="row g-4">
    @for (camp of campgrounds; track camp._id) {
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card rounded-3">
        <div class="image-wrapper">
          @if(imageLoading){
          <div class="spinner-container">
            <div class="spinner-border text-primary" role="status"></div>
          </div>
          }
          <img [src]="camp?.images[0]?.url" [alt]="camp.title" class="img-fluid object-fit-cover"
            (load)="imageLoading = false" (error)="imageLoading = false" />
        </div>

        <div class="card-body d-flex flex-column">
          <h5 class="card-title mb-1">{{ camp.title }}</h5>
          <p class="location small flame-text mb-2">📍{{ camp.location || 'Unknown location' }}</p>
          <p class="description mb-3 flex-grow-1">{{ camp.description | slice:0:115}}...</p>

          <div class="d-flex justify-content-between align-items-center mt-auto">
            <span class=" fs-6">
              <span class="flame-text">${{ camp.price }}</span>
              <span>/night</span>
            </span>
            <button class="btn-card" (click)="viewDetails(camp)">View Details</button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
  @else {
  <p>No data to display</p>
  }

  <app-loading [loading]="loading$ | async" [errorLoading]="errorLoading$ | async"></app-loading>
</section>