<div class="review-container">
    <h2>Leave a review</h2>
    <form class="mb-5" [formGroup]="reviewForm">
        <div>
            <label for="rating" class="form-label">Rating</label>
            <input formControlName="rating" type="range" class="form-range" min="0" max="5" step="1" id="rating">
        </div>
        <div class="mb-3">
            <label for="review-body" class="form-label">Reviews</label>
            <textarea formControlName="body" class="form-control" id="review-bod" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-success" (click)="submitReview(campId())"
            [disabled]="!reviewForm.valid || (loadingCreate$ | async)">
            @if ((!(loadingCreate$ | async))) {
            Submit Review
            } @else {
            <span class="spinner-border spinner-border-sm" role="status"></span>
            Submitting...
            }
        </button>

    </form>

    <!-- Reviews -->
    <div class="review-list-wrapper" [class.loading]="loadingDelete$ | async">
        <app-loading [loading]="loadingDelete$ | async"></app-loading>

        <div class="review-list">
            @for (review of campground.reviews ?? []; track $index) {
            <div class="card mb-2">
                <div class="container card-body">
                    @let isReviewOwner = currentUserId === review?.author?._id;
                    <h5 class="card-title">Rating: {{ review.rating }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{review?.author?.username}}</h6>
                    <p class="card-text">{{ review.body }}</p>
                    @if(isReviewOwner){
                    <button class="btn btn-sm btn-danger" (click)="deleteReview(review._id)">Delete</button>
                    }
                </div>
            </div>
            }
        </div>
    </div>

</div>