<section class="container add-edit-container">
  <h2 class="">Edit Campground</h2>
  <div class="add-edit-container-form">
    <form [formGroup]="campgroundForm" class="card p-4 shadow-sm mt-4">

      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title" type="text" formControlName="title" class="form-control" placeholder="Enter title">
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input id="image" type="text" formControlName="image" class="form-control"
          placeholder="https://example.com/camp.jpg">
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label for="price" class="form-label">Price ($)</label>
        <input id="price" type="number" formControlName="price" class="form-control" placeholder="0">
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" formControlName="description" rows="5" class="form-control"
          placeholder="Enter description"></textarea>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input id="location" type="text" formControlName="location" class="form-control" placeholder="Enter location">
      </div>

      <!-- Submit -->
      <div class="text-end">
        <button type="submit" class="btn btn-primary" [disabled]="campgroundForm.invalid" (click)="onSubmit()">
          {{ btnLabel }} Campground
        </button>
      </div>
    </form>
  </div>
</section>