<app-loading [loading]="loading$ | async"></app-loading>

<section class="container my-5">
  @if (campground$ | async; as camp) {

  <div class="row">
    <div class="col-6 mb-3">
      <div class="card mb-3" style="width: 100%;">
        <div class="image-wrapper">
          <!-- Spinner -->
          @if(imageLoading){
          <div class="spinner-container">
            <div class="spinner-border text-primary" role="status"></div>
          </div>
          }
          <!-- Actual image -->
          <img [src]="camp.image" [alt]="camp.title" class="card-img-top" (load)="imageLoading = false"
            (error)="imageLoading = false">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ camp.title }}</h5>
          <p class="card-text">{{ camp.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">{{ camp.location }}</li>
          <li class="list-group-item">${{ camp.price }}/night</li>
        </ul>
        <div class="card-body">
          <button (click)="editCampground(camp._id)" mat-button color="primary" class="me-3">Edit</button>
          <button (click)="openDialog(camp._id)" mat-button color="warn">Delete</button>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="review-container">
        <h2>Leave a review</h2>
        <form class="mb-5" [formGroup]="reviewForm">
          <div>
            <label for="rating" class="form-label">Rating</label>
            <input formControlName="rating" type="range" class="form-range" min="0" max="5" step="1" id="rating">
          </div>
          <div class="mb-3">
            <label for="review-body" class="form-label">Reviews</label>
            <textarea formControlName="body" class="form-control" id="review-bod" rows="3"></textarea>
          </div>
          <button type="button" class="btn btn-success" (click)="submitReview(camp._id)"
            [disabled]="!reviewForm.valid || (loading$ | async)">
            @if ((!(loading$ | async))) {
            Submit Review
            } @else {
            <span class="spinner-border spinner-border-sm" role="status"></span>
            Submitting...
            }
          </button>

        </form>

        <!-- Reviews -->
        @for (review of camp.reviews; track $index) {
        <div class="card mb-2">
          <div class="container card-body">
            <h6>{{review._id}}</h6>
            <h5 class="card-title">Rating: {{ review.rating }}</h5>
            <p class="card-text">{{ review.body }}</p>
            <button class="btn btn-sm btn-danger" (click)="deleteReview(review._id)">Delete</button>
          </div>
        </div>

        }
      </div>
    </div>
  </div>


  } @else {
  <!-- <app-loading [loading]="loading$ | async"></app-loading> -->
  }
</section>