.image-wrapper {
  position: relative;
  width: 100%;
  height: 600px; /* or auto if you want dynamic */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  overflow: hidden;
}

.spinner-container {
  position: absolute;
  z-index: 10;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
