$paragraph: 1rem; // 16px, base reading text
$subtitle: 1.125rem; // 18px, subtle sub-head
$title: 1.5rem; // 24px, main section titles
$heading: 2rem; // 32px, big headings
$display: 4rem; // 64px, hero / banner text

$fw-500: 500;
$fw-400: 400;
$fw-200: 200;
